body{
    justify-content: center;
    align-items: initial;
    background-color: #ffcc66;
}
.todo-container{
    background-color: rgb(93, 92, 92);
    border: 3px solid rgb(255, 255, 255);
    border-radius: 15px;
    margin: 20px auto;
    padding: 10px;
    max-width: 400px;
    width: 320px;
    box-shadow: 10px 10px 20px rgba(0,0,0,0.9);
    

}
h1{
    color: #ffcc66;
    text-align: center;
    font-size: 25px;
}

.input-section{
    display: flex;
    margin-bottom: 10px;
}
.input-field{
    flex: 1;
    padding: 8px;
    margin-right: 10px;
    margin-left: 10px;
    border: 1px solid rgb(42, 165, 67);
    border-radius: 10px 2px 10px 2px;
}
.update-btn,.clean-btn, .Add-btn{
    margin-right: 2px;
    padding: 10px;
    background-color: #ffcc66;
    border-radius: 10px 0 10px 0;
    font-size: 12px;
    cursor: pointer;
}
.update-btn:hover, .clean-btn:hover, .Add-btn:hover{
    background-color: black;
    color: #ffcc66;
    border: 1px solid #ffcc66;
}




.todo-list{
    list-style: none;
    padding: 0;
}
.todo-list li{
    border: 1px solid #ffcc66;
    border-radius: 10px 0 10px 0;
    margin: 8px;
    padding: 4px;
    margin-left: 0;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    color: white;
    font-size: 14px;
    align-items: center;
    
}
.todo-list li.completed .task-text {
    text-decoration: line-through;
    opacity: 0.6;
}
.btn-group button {
    margin-left: 0;
    padding: 5px 5px;
    border-radius: 10px 0 10px 0;
    cursor: pointer;
    background-color: inherit;
    
    font-weight: 400;

    
    margin-left: 3px;
    
    box-shadow: 2px 2px 3px rgba(0,0,0,0.9);
    
    
}
.btn-edit{
    color: rgb(2, 232, 2);
}
.btn-remove{
    color: red;
}
.btn-done{
    color: yellow;
}
.btn-group:hover{
    opacity: 0.5;
}
